/* You can add global styles to this file, and also import other style files */
$black: #000000;
$light-grey: #cccccc;

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
